*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
}
body{
	background-image: url(fondo.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.ul{
	background-color: #3C3C3C;
}
.li, .li__f, .li__redes, .li__logo{
	list-style: none;
	padding: 30px;
	display: inline-block;
}
.li__logo{
	padding-top: 25px;
	padding-bottom: 20px; 
	margin-left: 50px;
}
.li__redes{
	float: right;
	padding-left: 0px;

}
.li__f{
	float: right;
	margin-right:  370px;
}
.li{
	padding-right: 100px;
	float: right;
}
.enlace__li:hover{
	border-bottom: 2px solid #fff;
}

.enlace__li, .enlace__logo{
	display: block;
	color: white;
	text-decoration: none;	
}

.intro{
	font-size: 45px;
	color: white;
	margin-left: 150px;
	margin-top: 180px;
}

.div__btn{
	width: 190px;
	margin-top: 150px;
	margin-left: 43%

	
}
.btn{
	text-align: center;
	padding: 30px;
	padding-right: 50px; 
	padding-left: 50px;
	border-radius: 3px;
	background-color: #72CA00;
	text-decoration: none;
	color: white;


}
.contenido{
	margin-top: 300px;
	padding:20px;
	background-color: #f3f3f3;
	height: 100%;

}
.des{
	margin-top: 100px;

}

.des__titulo{

	color: #2a363f;
	text-align:center;

}
.boxs{
	background-color: #EAEAEA;
	margin-top: 100px;
	margin-left: 200px;
	padding: 70px;
	position: relative;
	width: 65%;
	height: 470px;
	font-size: 15px;

	

}
.box__left, .box__right{
	position: absolute;
	display: inline-block;
	color: #2a363f;
}
.box__left{
	left: 60px;

}
.box__right{
	right:70px;
}

.propi__des{
	padding: 15px;

}
.propi__des:hover{
	background-color: #fff;
	border-radius: 5px;
}





.planes{
	width: 1518px;
	height: 1500px;
	margin-left: -20px;
	padding: 0px;
	background-color: #F1F1F1;
}
/*
.planes__tipos{
	margin-top: 200px;
	display: inline-block;
	margin-left: 120px;
	background-color: #fff;
	padding-top: 50px; 
	width: 350px;
	height: 720px;
	text-align: center;
	border: 1px solid green;
}
*/
.planes__tipos{
	display: inline-block;
}
.estandar{
	
	display: inline-block;
	margin-left: 120px;
	background-color: #fff;
	padding-top: 50px; 
	width: 350px;
	height: 720px;
	text-align: center;
	border-top: 5px solid #00FF57;

}
.intermedio{
	margin-top: 150px;
	
	margin-left: 120px;
	background-color: #fff;
	padding-top: 50px; 
	width: 350px;
	height: 870px;
	text-align: center;
	border-top: 5px solid #1DD8FF;
}
.premium{
	margin-top: 200px;
	
	margin-left: 120px;
	background-color: #fff;
	padding-top: 50px; 
	width: 350px;
	height: 720px;
	text-align: center;
	border-top: 5px solid #00FF57;
}
.plan__popular{
	border-radius: 10px;
	margin-left: 90px;
	width: 170px;
	color: white;
	background-color: #1DD8FF;
}
.estandar:hover, .intermedio:hover, .premium:hover{
	box-shadow: 3px  0px 20px #6A6A6A;

}



.titulo__planes{
	font-size: 18px;
	padding-top: 150px;
	margin-left: 10%;
}
.titulo__planes p{
	margin-left: 130px;
}

.titulo_paquetes{
	font-size:20px;
	margin-top: 10px;
}
.planes__top{
	border-bottom: 1px  solid #5555;
	color: #3E3E3E;
}
.planes__mid{
	border-bottom: 1px  solid #5555;
	color: #7B7B7B;

}

















.pie_pagina{
	background-color: #323232;
	padding: 50px;
	height: 300px;
}
.footer{
	color:#D7D7D7;
	position: relative;
}
.footer__left, .footer__right{
	position: absolute;
	margin-top: 50px;
}
.footer__left{
	left: 150px;
}
.footer__right{
	right: 430px;
}


.footer__contacto{
	text-decoration: none;
	color: #9C9C9C;
	margin-left: 50px;
}
.footer__contacto:hover{
	color: white;
}